<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @pin.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pin.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pin.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @pin.user.full_name %>
</p>

<p>
  <strong>Board:</strong>
  <%= @pin.board.name %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
