<p> 
	
	<%= @some_text %>

	Showing All of <%= @user.first_name %>'s Boards:'

	<% @boards.each do |board| %> 

		<%= board.name %>

	<% end %>
</p>



</p>


<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
